@media only screen and (min-device-width: 480px) {
    @font-face {
    font-family: 'text_font1';
    src: url('fonts/Modeseven-L3n5.ttf');
    }
    :root {
        --primary-color: white;
        --secondary-color: rgb(42, 108, 213);
        --third-color: rgba(42, 107, 213, 0.535);
        --forth-color: black;
        --fifth-color: rgba(45, 45, 45, 0.533);
    }
    .html_1 {
        font-family: 'text_font1';
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .h1_1 {
        animation: blinker 1s linear infinite;
        color: var(--secondary-color);
        text-align: center;
        text-shadow: 1px 1px 10px var(--fifth-color);
    }
    .p_1 {
        color: var(--forth-color);
        text-align: center;
        text-shadow: 1px 1px 10px var(--fifth-color);
    }
    .table_1 {
        min-width: 100%;
        text-align: center;
        text-shadow: 1px 1px 10px var(--fifth-color);
    }
    .th_1 {
        border: 1px solid var(--fifth-color);
        border-radius: 2px;
        padding: 1vw;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .td_1 {
        border-bottom: 2px solid var(--fifth-color);
        padding: 1vw;
    }
    @keyframes blinker {
        50% {
        opacity: 0;
                }
            }
            .blink2 {
                font-family: 'font';
                animation: blinker .5s linear infinite;
            }
            @keyframes blinker {
                50% {
                opacity: 80%;
                        }
                    }
}